.DS_Store
DerivedData/
build/
*.xcuserstate
xcuserdata/
SkyTrace.xcodeproj/
.swiftpm/
.vscode/ipch/

.build/
**/.build/
SkyTrace/Info.plist
*.xcresult/
*.xccheckout
*.xcscmblueprint
*.profraw
*.profdata
SkyTraceMac/Info.plist
