.DS_Store
DerivedData/
build/
build-device/
*.xcuserstate
xcuserdata/
SkyTrace.xcodeproj/
.swiftpm/
.vscode/ipch/

.build/
build-device/
**/.build/
build-device/
SkyTrace/Info.plist
*.xcresult/
*.xccheckout
*.xcscmblueprint
*.profraw
*.profdata
SkyTraceMac/Info.plist
build-device-tests/
build-ios/
